img {
    margin-left: 10px
    
}

.card {
    margin-left: 10px;
}

body {
    background-image: url(https://t3.ftcdn.net/jpg/02/52/61/96/360_F_252619603_JVfZRyinpRGECZYEXm9srIPusT6OE8hO.jpg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}